@import 'variables';
@import 'base';

aside {
    background-color: $blue-aside-background;
    height: auto;
    padding: 0 4rem;
        // background-color: rgb(99, 107, 182);
    header {
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
        padding-top: 4rem;
        .img-perfil{
            height:6rem;
            width: 7rem;
            border-radius: 50%;
            margin-bottom: 2rem;
        }
        h3 {
            color: black;
        }
        sub {
             @extend h3;
        }
           nav {
               display: flex;
               flex-direction: column;
               gap: 4rem;
               padding: 8rem 0;
               a {
                @include animation;
                img {
                    height: 4rem;
                    width: 4rem;
                   
                }
               }
               a.animation {
                   animation-play-state: paused;
               }
               
           }
    }
    .footer-contato {
          display: flex;
          justify-content: center;
          padding: 4rem 0 1.5rem 0;
          ul {
             display: flex;
             flex-direction: row;
             gap: 2rem;
             li {
                a {
                   img{
                      width: 2rem;
                       &:hover {
                           opacity: 0.5;
                       }
                    }
                  } 
                }
            }
        }        
}